body {
  margin: 0;
  padding: 0;
  font-family: 'Trebuchet MS', sans-serif;
  font-size: 15px;
  background-color: #1a3342;
  background-image: url(imgs/bg.png);
  color: #fff;
}

div.bodywrapper {
  margin: 0;
  padding: 0;
}
div.header {
  margin: 0;
  padding: 0;
  background-image: url(imgs/header.png);
  background-position: bottom;
  height: 45px;
  font-size: 65%;
}
span.copyright {
  padding: 2px 0 0 5px;
  float: left;
}

ul.nav { margin: 0; padding: 2px 5px 0 0; }
ul.nav li {
  display: block; float: right;
  margin-right: 5px;
  padding-left: 5px;
  border-left: 1px dashed #fff; }
ul.nav li.first { border-left: none; }
ul.nav li a, ul.nav li a:visited {
  color: #fff; text-decoration: none;
}
ul.nav li.active, ul.nav li a:hover { color: #2c8fc8; text-decoration: none; }

div.contents {
  margin: 0 auto 0 auto;
  width: 1110px;
}

div.contents div.message {
  border: 1px solid #fff;
  margin: 0 -10px 10px -10px;
  padding: 8px 8px 8px 32px;
  -moz-border-radius: 3px;
  -webkit-border-radius: 3px;
  border-radius: 3px;
  background: #5d7685 url(imgs/info.png) no-repeat 9px 9px;
}

div.contents div.message-error {
  background-image: url(imgs/error.png);
  border-color: #E8B5B5;
}

.frame { float: left; padding: 10px; }

.form, .form legend, .form input, .form button {
  background-color: #5d7685;
  -moz-border-radius: 7px;
  -webkit-border: 7px;
}
.form { -moz-border-radius: 10px; -webkit-border: 10px; }


.form input, .form button { background-color: #fff; padding: 2px 5px; }
.form input[type="checkbox"] { background-color: #5d7685; }
.form { margin: 30px; }
.form legend {
  margin-left: 25px;
  padding: 5px 10px;
  border: 1px solid #fff;
  margin-bottom: 5px;

}
.form input[type="submit"], .form button {
  background-color: #5d7685; color: #fff; }
.form input[type="text"] { width: 300px; }
.form table { width: 100%; margin-bottom: 15px; }
.form table tr.header {
  background-image: url(imgs/header.png);
  background-position: bottom;
  height: 45px;
  vertical-align: top;
  padding: 0 auto 0 auto;
}
.form table tr.header th { text-align: center; }
.form table tr th { text-align: right; }
.form table tr td { text-align: left; width: 85%; }
.form table tr span.help {
  font-size: 60%; text-align: center; font-style: italic;
  padding-top: 15px; }
div.buttons { margin-top: 20px; }


.jquery-checkbox {
  display: inline;
  font-size: 24px;
  line-height: 24px;
  cursor: pointer;
  cursor: hand;
}
.jquery-checkbox .mark {display: inline;}
.jquery-checkbox img { vertical-align: middle; width: 22px; height: 21px; }
.jquery-checkbox img { background: transparent url(imgs/checkboxes.png) no-repeat; }
.jquery-checkbox img { background-position: 0px 0px; }
.jquery-checkbox-hover img { background-position: 0px -21px; }
.jquery-checkbox-checked img { background-position: 0px -43px; }
.jquery-checkbox-checked .jquery-checkbox-hover img { background-position: 0px -43px; }
.jquery-checkbox-disabled img{ background-position: 0px -64px; }
.jquery-checkbox-checked .jquery-checkbox-disabled img{ background-position: 0px -85px; }
