<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude"
      py:strip="">
  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      <title py:with="title = list(select('title/text()'))"><py:if
             test="title">${title} — </py:if>Administration — Screener</title>
      <link rel="stylesheet" type="text/css"
            href="${shared_url('style.css')}" />
      ${select('*[local-name()!="title"]')}
    </head>
  </py:match>
  <py:def function="navigation(endpoint, title, first=False, **kwargs)"
          py:with="match = request.endpoint==endpoint">
    <li class="${first and 'first' or None} ${match and 'active' or None}">
      <a href="${ url_for(endpoint, **kwargs) }" py:strip="match">${ title }</a>
    </li>
  </py:def>
  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <div class="bodywrapper">
        <div class="header">
          <span class="copyright">Screener &copy; 2009 &mdash; UfSoft.org</span>
          <ul class="nav">
            ${ navigation('admin/categories', 'Categories') }
            ${ navigation('admin/users', 'Users') }
            ${ navigation('admin', 'Administration Home', first=True) }
            <li class="first">
              logged in as ${ request.user.username }
              (<a href="${ url_for('admin/logout') }">logout</a>)&nbsp;&nbsp;&mdash;
            </li>
          </ul>
        </div>
        <div class="contents">
          <py:if test="error">
            <div class="message message-error">
              ${ Markup(error) }
            </div>
          </py:if>
          <py:for each="flash in request.session.pop('flashes', [])">
            <div class="message">
              ${ Markup(flash) }
            </div>
          </py:for>
          <fieldset class="form admin" py:with="legend = select('h1/text()')">
            <legend py:if="legend">${ legend }</legend>
            ${select('*[local-name()!="h1"]')}
          </fieldset>
        </div>
      </div>
    </body>
  </py:match>
</html>
