<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Users</title>
      <script type="text/javascript" src="${shared_url('js/jquery.js')}" />
      <script type="text/javascript" src="${shared_url('js/jquery.checkbox.js')}" />
  </head>
  <body>
    <h1>Manage Users</h1>
    <form action="" method="POST">
      <table>
        <thead>
          <tr class="header">
            <th class="sel">&nbsp;</th>
            <th>Username/UUID</th>
            <th>Email Address</th>
            <th>Categories</th>
            <th>Images</th>
            <th>Reports</th>
            <th>Disk Usage</th>
            <th>Last Visit</th>
          </tr>
        </thead>
        <tbody>
          <tr py:for="user in users">
            <td class="sel"><input type="checkbox" name="uuid" value="${ user.uuid }"/></td>
            <td>
              ${ user.username and "%(username)s (%(uuid)s)" % user.dict() or user.uuid }
              <span class="confirmed" py:if="user.confirmed">&nbsp;[confirmed] </span>
            </td>
            <td>${ user.email }</td>
            <td>${ user.categories.count() }</td>
            <td>${ user.images.count() }</td>
            <td>${ user.reports.count() }</td>
            <td>
              <table class="disk-usage">
                <tr>
                  <th>Images</th><th>Resized</th><th>Thumbs</th><th>Abuse</th>
                </tr>
                <tr>
                  <td>${ pretty_size(user.disk_usage.images) }</td>
                  <td>${ pretty_size(user.disk_usage.resized) }</td>
                  <td>${ pretty_size(user.disk_usage.thumbs) }</td>
                  <td class="last">${ pretty_size(user.disk_usage.abuse) }</td>
                </tr>
              </table>
            </td>
            <td>${ format_datetime(user.last_visit) }</td>
          </tr>
        </tbody>
      </table>
      <div class="buttons">
        <input type="submit" name="delete" value="Delete Selected Users"/>
      </div>
    </form>
    <script type="text/javascript">
      $(document).ready(function() {
        $("input[type=checkbox]").checkbox({
          cls:'jquery-checkbox',
          empty: "${ shared_url('imgs/empty.png') }"
        });
      });
    </script>
  </body>
</html>
