<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>STOP: Adult Content.</title>
    <script type="text/javascript" src="${shared_url('js/jquery.js')}" />
    <script type="text/javascript" src="${shared_url('js/jquery.checkbox.js')}" />
  </head>
  <body>
    <div class="message message-error">STOP: Adult Content.</div>
    <center>
      <img alt="STOP: Adult Content." title="STOP: Adult Content."
           src="${shared_url('imgs/adult_content.png')}"/>
    </center>
    <fieldset class="form">
      <legend>Show Adult Content</legend>
      <form  action="${ url_for('account.anonpref') }" method="POST">
        <table>
          <tr>
            <th><label for="show_adult_content">Show Adult Content:</label></th>
            <td>
              <input type="checkbox" name="show_adult_content" value="yes"
                     checked="${ request.user.show_adult_content and 'checked' or None}"/>
            </td>
          </tr>
          <tr>
            <th><label for="tos">Terms of Service:</label></th>
            <td>
             <input type="checkbox" name="tos" value="yes">
               I Agree to the <a href="${ url_for('tos') }">Terms of Service</a>.
             </input>
            </td>
          </tr>
        </table>
        <div class="buttons" style="">
          <input type="submit" name="update" value="Update"/>
        </div>
      </form>
    </fieldset>
    <script type="text/javascript">
      $(document).ready(function() {
        $("input[type=checkbox]").checkbox({
          cls:'jquery-checkbox',
          empty: "${ shared_url('imgs/empty.png') }"
        });
      });
    </script>
  </body>
</html>
