<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>${ image.filename }</title>
      <script type="text/javascript" src="${shared_url('js/jquery.js')}" />
      <script type="text/javascript" src="${shared_url('js/cvi_text_lib.js')}" />
      <script type="text/javascript" src="${shared_url('js/jquery.slided.js')}" />
      <script type="text/javascript" src="${shared_url('js/jquery.instant.js')}" />
  </head>
  <body>
    <center>
      <a href="${ image.abuse_status > 0 and shared_url('imgs/sign.png') or url_for(image, 'image') }">
        <img class="instant historical itiltnone nocorner preserve"
             alt="${ image.abuse_status > 0 and 'Abuse Reported. Image Removed.' or image.filename }"
             title="${ image.abuse_status > 0 and 'Abuse Reported. Image Removed.' or (image.description or image.filename) }"
             src="${ image.abuse_status > 0 and shared_url('imgs/sign.png') or url_for(image, 'resized')}"/>
      </a>
      <div class="abuse">
        <a  href="${ url_for(image, 'abuse') }">Report Abuse</a>
      </div>
    </center>
  </body>
</html>
