<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>${ image.filename }</title>
      <script type="text/javascript" src="${shared_url('js/jquery.js')}" />
      <script type="text/javascript" src="${shared_url('js/cvi_text_lib.js')}" />
      <script type="text/javascript" src="${shared_url('js/jquery.slided.js')}" />
      <script type="text/javascript" src="${shared_url('js/jquery.instant.js')}" />
  </head>
  <body>
    <center>
      <a href="${url_for(image, 'image')}" py:if="not image.abuse_reported">
        <img class="instant historical itiltnone nocorner preserve"
             alt="${ image.filename }"
             title="${ image.description or image.filename }"
             src="${url_for(image, 'resized')}"/>
      </a>
      <a href="${shared_url('imgs/sign.png')}" py:if="image.abuse_reported">
        <img class="instant historical itiltnone nocorner preserve"
             alt="Abuse Reported. Image Removed."
             title="Abuse Reported. Image Removed."
             src="${shared_url('imgs/sign.png')}"/>
      </a>
    </center>
    <!--!
    <center>
      <a href="${url_for(image, 'image')}">
        <img class="slided ibgcolor5d7685 itxttitle"
             alt="${ image.filename }"
             title="${ image.description or image.filename }"
             src="${url_for(image, 'resized')}"/>
      </a>
    </center>
     -->
  </body>
</html>
