<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Welcome</title>
      <script type="text/javascript" src="${shared_url('js/jquery.js')}" />
      <script type="text/javascript" src="${shared_url('js/jquery.slided.js')}" />
  </head>
  <body>
    <div class="frame"><img class="slided" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolor99ccff igradient6699aa" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolor666666" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolor000000" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolor5d7685" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolore0e0e0" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolor3a4d59" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolorf3aa41" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolorddedbf" src="${shared_url('imgs/test.png')}"/></div>
    <div class="frame"><img class="slided ibgcolore0e0e0" src="${shared_url('imgs/test.png')}"/></div>
  </body>
</html>
