<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      <title py:with="title = list(select('title/text()'))"><py:if
             test="title">${title} — </py:if>Screener</title>
      <link rel="stylesheet" type="text/css"
            href="${shared_url('style.css')}" />
      ${select('*[local-name()!="title"]')}
    </head>
  </py:match>
  <py:def function="navigation(endpoint, title, first=False, **kwargs)"
          py:with="match = request.endpoint==endpoint">
    <li class="${first and 'first' or None} ${match and 'active' or None}">
      <a href="${ url_for(endpoint, **kwargs) }" py:strip="match">${ title }</a>
    </li>
  </py:def>
  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <div class="bodywrapper">
        <div class="header">
          <span class="copyright">Screener &copy; 2009 &mdash; UfSoft.org</span>
          <ul class="nav">
            ${ navigation('categories', 'Categories') }
            ${ navigation('upload', 'Upload', first=request.endpoint!='category') }
            <py:if test="request.endpoint == 'category'">
              ${ navigation('upload', 'Upload To %s' % category.name,
                            category=category.private and category.secret or category.name,
                            first=True) }
            </py:if>
          </ul>
        </div>
        <div class="contents">
          <py:if test="error">
            <div class="message message-error">
              ${ Markup(error) }
            </div>
          </py:if>
          <py:for each="flash in request.session.pop('flashes', [])">
            <div class="message">
              ${ Markup(flash) }
            </div>
          </py:for>
          ${select('*|text()')}
        </div>
      </div>
    </body>
  </py:match>
</html>
