<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      <title py:with="title = list(select('title/text()'))"><py:if
             test="title">${title} — </py:if>Screener</title>
      <link rel="stylesheet" type="text/css"
            href="${shared_url('style.css')}" />
      ${select('*[local-name()!="title"]')}
    </head>
  </py:match>
  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <div class="bodywrapper">
        <div class="header">
          <span class="copyright">Screener &copy; 2009 &mdash; UfSoft.org</span>
          <ul>
            <li><a href="${url_for('upload')}">Upload</a></li>
            <li class="first"><a href="${url_for('index')}">Home</a></li>
          </ul>
        </div>
        <div class="contents">
          ${select('*|text()')}
        </div>
      </div>
    </body>
  </py:match>
</html>
