<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/" py:strip="">
  <py:match path="head" once="true">
    <head py:attrs="select('@*')">
      <title py:with="title = list(select('title/text()'))"><py:if
             test="title">${title} — </py:if>Screener</title>
      <link rel="stylesheet" type="text/css" href="${href('shared', 'style.css')}" />
      ${select('*[local-name()!="title"]')}
    </head>
  </py:match>
  <py:match path="body" once="true">
    <body py:attrs="select('@*')">
      <div class="bodywrapper">
        <div class="header">
          <h1><a href="${href()}">Screener</a></h1>
        </div>
        <div class="contents">
          ${select('*|text()')}
        </div>
        <div class="footer">
          Screener by Ufsof.org
        </div>
      </div>
    </body>
  </py:match>
</html>
