<!DOCTYPE html
    PUBLIC "-//W3C//DTD XHTML 1.0 Strict//EN"
    "http://www.w3.org/TR/xhtml1/DTD/xhtml1-strict.dtd">
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Terms of Service</title>
  </head>

  <body>
    <fieldset class="form">
      <legend>Terms of Service</legend>
      <p>
        <em><b>${ request.config.domain }</b></em> reserves the right to remove
        or replace any files that compromise the security of the server, or are
        otherwise malignant. The following types of files may not be uploaded
        under any circumstances:
      </p>
      <ul>
        <li>
          Files that infringe on the copyrights of any entity. This includes,
          but is not limited to, copyrighted photographs, as well as files for
          which user lacks usage and distribution permissions.
        </li>
        <li>Files whose intended use or purpose is to harass individual or multiple persons.</li>
        <li>
          Files whose intended use or purpose is the promotion of products or
          services through advertisements. This includes, but is not limited to,
          email spam and banner advertisements.
        </li>
        <li>
          Files that are illegal and/or are in violation of any laws from where
          <em><b>${ request.config.domain }</b></em> is hosted,
          <em><b>${request.config.host_country}</b></em>,
          laws pertaining to digital content usage in the mentioned Government's
          Country.
        </li>
      </ul>
      <p>Uploading any type of the above-mentioned files will result in:</p>
      <ul>
        <li>
          The immediate termination of user's ability to use
          <em><b>${ request.config.domain }</b></em> or any of its provided
          services.
        </li>
        <li>
          The deletion of any images that user has uploaded to
          <em><b>${ request.config.domain }</b></em>.
        </li>
        <li>Possible prosecution.</li>
      </ul>
      <p>
        This will be effective immediately upon detection of any violations listed
        above, with perpetual duration, at the discretion of
        <em><b>${ request.config.domain }</b></em>. If a file is deleted, user
        may not attempt to upload it again.
      </p>
      <h4>Legal Policy:</h4>
      <p>
        These Terms of Service are subject to change without prior warning.
        By using <em><b>${ request.config.domain }</b></em>, user agrees not to
        involve <em><b>${ request.config.domain }</b></em> in any type of
        lawsuit or counter suit if <em><b>${ request.config.domain }</b></em> or
        any third party proceeds to take legal action against user for violations
        of these Terms of Service.<br/>
        <em><b>${ request.config.domain }</b></em> directs full legal
        responsibility of the contents of the files that are uploaded to
        <em><b>${ request.config.domain }</b></em> to individual users, and will
        cooperate with legal teams and government entities in the case that
        uploaded files are deemed to be in violation of these Terms of Service.
      </p>
      <p>
        All files are &copy; to their respective owners· All other content is
        &copy; <em><b>${ request.config.domain }</b></em>.
        <em><b>${ request.config.domain }</b></em> is not responsible for the
        content of any uploaded files, nor is it in affiliation with any
        entities that may be represented in the uploaded files.
      </p>
      <p>
        Because of the free public upload nature, this site is not responsible if
        any images are of adult content, for which you must be over 18(eighteen)
        years of age to see. If you are not above this legal age, and are
        presented with this nature of images, please close your browser or leave
        this site immediately.
      </p>
    </fieldset>
  </body>
</html>
<!--!
$Id$
vim: sw=2 ts=2 fenc=utf-8 ft=kid et
-->

