<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="layout.html" />
  <head>
    <title>Upload</title>
      <script type="text/javascript" src="${shared_url('js/jquery.js')}" />
      <script type="text/javascript" src="${shared_url('js/jquery.filestyle.js')}" />
  </head>
  <body>
    <fieldset class="form">
      <legend>Upload New File</legend>
      <form  action="" method="POST" id="UploadForm" enctype="multipart/form-data">
        <table>
          <tr>
            <th><label for="category">Category:</label></th>
            <td><input type="text" name="category"/></td>
          </tr>
          <tr>
            <th><label for="description">Description:</label></th>
            <td><input type="text" size="60" name="description"/></td>
          </tr>
          <tr>
            <th><label for="secret">Secret:</label></th>
            <td><input type="password" name="secret"/></td>
          </tr>
          <tr>
            <th><label for="uploaded_file">Image:</label></th>
            <td><input type="file" name="uploaded_file"/></td>
          </tr>
        </table>
        <div class="error">${ error }</div>
        <div class="buttons">
          <input type="submit" name="upload" value="Start Upload"/>
        </div>
      </form>
    </fieldset>
    <script type="text/javascript">
      $(document).ready(function() {
        $("input[type=file]").filestyle({
          image: "${ shared_url('imgs/choose-file.png') }",
          imageheight : 22,
          imagewidth : 100,
          width : 250
        });
      });
    </script>
  </body>
</html>
