<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:py="http://genshi.edgewall.org/"
      xmlns:xi="http://www.w3.org/2001/XInclude">
  <xi:include href="../layout.html" />
  <head>
    <title>Register</title>
  </head>
  <body>
    <fieldset class="form">
      <legend>Register With Screener</legend>
      <form  action="" method="POST">
        <table>
          <tr>
            <th><label for="username">Username:</label></th>
            <td>
              <input type="text" name="username"/>
            </td>
          </tr>
          <tr>
            <th><label for="email">Email:</label></th>
            <td>
              <input type="text" name="email"/>
            </td>
          </tr>
          <tr>
            <th><label for="password">Password:</label></th>
            <td>
              <input type="password" name="password"/>
            </td>
          </tr>
          <tr>
            <th><label for="password">Confirm Password:</label></th>
            <td>
              <input type="password" name="password_confirm"/>
            </td>
          </tr>
        </table>
        <div class="buttons">
          <input type="submit" name="register" value="Register"/>
        </div>
      </form>
    </fieldset>
  </body>
</html>
